<p id="notice"><%= notice %></p>

<p>
  <strong>Step name:</strong>
  <%= @config_step.step_name %>
</p>

<%= link_to 'Edit', edit_config_step_path(@config_step) %> |
<%= link_to 'Back', config_steps_path %>
